@import url("./variables.css");

/* libs */
@import url("./libs/fonts.css");
@import url("./libs/reset.css");

/* ui */
@import url("./ui/buttons.css");

/* components */
@import url("./components/container.css");

/* sections */
@import url("./sections/promo.css");
@import url("./sections/lecture.css");
@import url("./sections/stages.css");
@import url("./sections/participants.css");
@import url("./sections/footer.css");

* {
  font-family: var(--font-family);
  color: var(--gray-700);
  font-weight: 400;
}
