:root {
  --font-family: "Golos Text", sans-serif;
  --second-family: "Merriweather";
  --gray-600: #595653;
  --gray-700: #313131;
  --gray-900: #1f1f1f;
  --red: #f54932;
  --blue: #3057a2;
  --yellow: #fbce51;
}
