.promo {
  padding-top: 26px;
  height: 700px;
  background: url("./../../assets/img/main-bg.webp") center center/cover no-repeat;
}

.promo__logo {
  width: 245px;
  height: 36px;
}

.promo__content {
  max-width: 542px;
}

.promo__title {
  margin-top: 62px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 60px;
  line-height: 110%;
  text-transform: uppercase;
}

.promo__title span:first-child {
  margin-left: 91px;
}

.promo__title span:last-child {
  margin-left: 29px;
}

.promo__subtitle {
  margin-top: 24px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #313131;
}

.promo__buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.promo__ticker {
  width: 100%;
  background-color: var(--red);
  height: 60px;
  padding: 18px 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;
  text-transform: uppercase;
  text-align: right;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.promo__ticker svg {
  margin: 0 10px;
  margin-bottom: 6px;
}

/* .promo__ticker span {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  margin: 0 12px;
  background-color: #ffffff;
} */
